:root {
    --primary: #A88D6D;
    --secondary: #2D789C;
    --accent1: #0997DB;
    --accent2: #866032;
    --accent3: #324E5C;
    --red: #E13F0A;
    --green: #76E01F;
    --hoverRed: #b90000;
    --hoverGreen: #00c000;
}

html, body {
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
