.calendar-container {
  height: fit-content;
  background-color: white;
  width: calc(16px/768px);
  margin: 0 auto;
  box-shadow: 2px 5px 5px rgb(96, 96, 96);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: 'center';
    background-image: linear-gradient(to bottom right, var(--primary), var(--accent2));
}

.collapse-button {
  border: none;
  background-color: inherit;
  padding: 1rem;
  i {
    font-size: 1.25rem;
    padding: .25rem;
    &:hover {
      box-shadow: inset 0 0 2px black;
    }
  }
}

.expander{
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 1s;
    justify-content: center;
  }
  
  .expanded-content{
    min-height: 0;
    transition: visibility 1s;
    visibility: hidden;
  }
  .expander.expanded{
    grid-template-rows: 1fr;
    padding-bottom: 1rem;
  }
  
  .expander.expanded .expanded-content{
    visibility: visible;
  }
