.calendar-container {
  height: fit-content;
  background-color: white;
  border-left: 0.5rem solid var(--accent1);
  border-right: 0.5rem solid var(--accent1);
  border-bottom: 0.5rem solid var(--accent1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: 'center';
    background-color: var(--accent1);
}

.collapse-button {
  border: none;
  background-color: inherit;
  padding: 1rem;
  i {
    font-size: 1.25rem;
  }
}

.expander{
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 1s;
    justify-content: center;
    background-color: lightgray;
  }
  
  .expanded-content{
    min-height: 0;
    transition: visibility 1s;
    visibility: hidden;
  }
  .expander.expanded{
    grid-template-rows: 1fr;
    padding-bottom: 1rem;
  }
  
  .expander.expanded .expanded-content{
    visibility: visible;
  }
