.login-form {
    display: flex;
    flex-direction: column;
    position: initial;
    margin-bottom: 2rem;
    background-color: white;
    padding: 1rem;
    width: 50%;
    margin: 2rem auto 0 auto;

    .login-header {
        margin: 0 auto;
    }
}

.login-button {
    width: fit-content;
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    color: blue;
    cursor: pointer;
    margin: 0 auto;
}

.form-button:hover {
    background-color: white;
    color: rgb(28, 214, 28);
}