.edit-task {
    display: flex;
    align-items: center;
    background-color: inherit;  
    padding: 0;
    margin: 0;
    width: 100%;
    height: 2rem;
}

.placeholder-edit {
    height: 1.75rem;
    margin-left: 0.5rem;
    width: 15ch;
    padding: 0 0.5rem;
    background-color: inherit;
    outline: none;
    box-shadow: inset 0 0 2px var(--accent1);
    &::placeholder {
        color: black;
    }
}

.modal-submit {
    background-color: inherit;
    height: 1.75rem;
    margin: 0 2rem 0 0;
    &:hover {
        color: var(--green);
        background-color: var(--accent1);
        border: 2px solid var(--secondary);
    }
}