.calendar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
    padding: 10px;
    box-sizing: border-box;
}
.day_grid {
    display: grid; 
    grid-template-columns: repeat(7, minmax(1rem, 1fr));
}

.day_of_month {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 2px; 
    border-radius: 10%;
    font-size: minmax(0.25rem, 1rem);
}

.day_of_month_content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 5px;
    i {
        align-self: flex-end;
    }
}
.month_year_selectors {
    display: flex;
    border: 2px solid yellow;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}
.month_selector {
    display: flex;
    align-items: center;
}
.year_selector select{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: auto 0 auto 0;
}

/* @media (max-width: 1200px){
    .day_of_month{
        width: calc(1/7);
    }
} */