.tasks-taskform {
    padding: 0 1rem;
    flex: 1;
    max-height: 67%;
    display: flex;
    flex-direction: column;
}

.tasks-container {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    margin: 0 0 0 0;
    padding: 1rem 1rem 1rem 0;
    min-height: 55%;
    width: 100%;
    align-self: center;
}

.task-container::-webkit-scrollbar {
    width: 0;
}