.day_of_month {
    display: flex;
    justify-content: center;
    padding: 2px; 
    border-radius: 5rem;

    &:hover{
        border: 1px solid var(--accent3);
        cursor: pointer;
    }
}

.day_of_month_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: minmax(0.25rem, 1rem);
    .highlight-day {
        display: flex;
        align-items: center;
        border-radius: 5rem;
        padding: 0.05rem;
        color: orange;
    }
}