.month_year_selectors {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}
.month_selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
    span {
        display: flex;
        justify-content: center;
        width: 4rem;
        margin: 0 0.5rem;
    }
    i{
        padding: 0.25rem;
    }
    i:hover {
        box-shadow: inset 0 0 2px black;
        cursor: pointer;
    }
}
.year_selector select{
    font-size: 1.125rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    margin: auto 0 auto 0;
    &:hover{
        box-shadow: inset 0 0 4px black;
    }
}